/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .main-header,
  .main-nav,
  .row {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .col {
    flex: 1 50%;
  }
  .row {
    flex-wrap: wrap;
  }

  /* This moves the secondary column to the beginning, making the first column the center on larger screens */
  .secondary {
    order: -1;
  }
}

@media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .col {
    flex-basis: 0;
  }
  .primary {
    flex: 1.4;
  }
}
