/* Base Styles -------------------- */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
	padding: 40px 0 60px;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  margin: 50px 0;
}
h1 {
  margin: 0 0 30px 0;
  text-align: center;
}
form {
	margin-bottom: 60px;
}

/* Form Fields -------------------- */

input,
textarea {
  font-size: 1em;
  color: #222;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

label {
  display: block;
  margin-bottom: 0.5em; 
}

/* Media Queries -------------------- */

@media (max-width: 768px) {
	#container {
		width: 92%;
	}
}