/* Base Styles -------------------------------- */

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  color: #384047;
  padding: 10px 0 80px;
}
div {
  max-width: 610px;
  margin: auto;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 14px;
}
a {
  color: #4183c4;
}

/* Substring Matching Attribute Selectors ---- */

/* Can target specific substrings when using IDs or Classes isn't possible. */

/* Can target external links (that start with http: */

/* This is the BEGINS WITH selector, it targets things that begin with something specific using the ^ symbol. */
a[href^="http://"]
{
  color: #52bab3;
  text-decoration: none;
  /* Added the background elements below to size the pdf, jpg, and zip icons that show before the links. Moved these to the CONTAINS selector below */
  /* background-repeat: no-repeat;
  background-size: 18px 18px;
  padding-left: 25px; */
}

/* This is the ENDS WITH selector. It uses the $ to select the end. */
/* This adds the icons before the links */
a[href$=".pdf"] {
  background-image: url("../img/icn-pdf.svg");
}

a[href$=".jpg"] {
  background-image: url("../img/icn-picture.svg");
}

a[href$=".zip"] {
  background-image: url("../img/icn-zip.svg");
}

/* The CONTAINS Selector uses the * icon to match things that contain these elements anywhere */

/* This selects any link that has the words downloads in it anywhere  */

a[href*="downloads"] {
  /* These background elements the pdf, jpg, and zip icons that show before the links. Copied from the BEGINS WITH selector above */
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding-left: 25px;
}

img[src*="thumb"] {
  margin: 4px;
  border: solid 2px;
  width: 180px;
  height: 140px;
}

img[src*="lake"] {
  border-color: red;
}

img[src*="bay"] {
  border-color: pink;
}
